<div class="body">
  
    <div class="stage">
<div class="row ">
    <p class="clr">Contacter nous</p>
    <div class="col int mt-5">
      <input
        type="text"
        class="form-control"
        placeholder="Nom"
        aria-label="Nom"
      />
    </div>
    <div class="col int mt-5">
      <input
        type="text"
        class="form-control"
        placeholder="Prénom"
        aria-label="Prenom"
      />
    </div>
    
    <div class=" mt-5">
      <textarea class="form-control mt-2" placeholder="Votre message..." ></textarea>&nbsp;&nbsp;
      </div>
      <div>
            <div class=" mt-5">
                <input
                type="number"
                class="form-control"
                placeholder="Votre numéro de téléphone "
                aria-label="number"
                /> &nbsp;&nbsp;
            </div>
           
      </div>
     
      <div><br><br></div>
      <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a  class="btn btn-outline-success"  (click)="opensweetalert()">
        <span >Envoyer</span>
       
      </a>
    </div>
  </div>
  
  
  
   
    
      
     
    </div>
