<div class="container mt-5 mb-5">
    

    <div class="row">
        
        <div class="col-lg-4" *ngFor="let clo of educationData;index as i">
            <!--<div class="" *ngIf="i<=3">-->
                <div class="foodbox mt-3 mb-3">
                    <img src="{{clo.imgurl}}">
                    <h1>{{clo.nom}}</h1>
                    <p>{{clo.marque}}</p>
                    <p>{{clo.prix}}</p>
                    <!--<p>{{cat.foodDetails}}</p>-->
                    <a routerLink="menu" class= "btn btn-info btn-block"> Add to Cart <i class="bi bi-arrow-right"></i></a>
                    <br/>
                    <!--<a class="buybtn" [routerLink]="['/Catecory']">Buy Now &nbsp;<i class="bi bi-bag"></i></a> -->
                </div>
            <!--</div>-->
        </div>


    </div>

</div>



