<div class="container mt-5 mb-5">
    <div class="container"> 
      
      <div class="content">
        <h1>À propos de nous</h1>   
      </div>
      <p>
        Nous sommes la principale plateforme panafricaine de commerce électronique active dans 11 pays du continent.
         Notre plateforme consiste en une place de marché reliant des milliers de vendeurs à des millions de consommateurs,
         avec des services intégrés de logistique et de paiement numérique.
        <br/>
        <br/>
        Nous sommes actifs dans six régions d'Afrique, 
        qui se composent de 11 pays qui représentaient ensemble 72 % du PIB africain de 2 000 milliards d'euros et 74 % des dépenses de consommation de l'Afrique de 1 400 milliards d'euros en 2018,
         selon le FMI et Euromonitor, respectivement.
        <br/>
        <br/>
       
      </p>
    </div>
      
     
  
  </div>
