.footer
{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color:rgb(242, 226, 248);
    padding: 20px 10px;
   
    
}
h1
{
    font-weight: bold;
    color: rgb(22, 18, 18);
    font-size: 20px;
}
p
{
    color: rgb(85, 81, 81);
    font-size: 14px;
}

a
{
    color: rgb(37, 35, 35);
    text-decoration:none ;
    padding: 0px 10px;
    font-size: 17px;
}
a:hover
{
    color: var(--primary-color);
}
i
{
    padding: 0px 10px;
}