<div class="container mt-5 mb-5">
    <div class="container"> 
      <div class="avatar">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/skytsunami.png" />  
      </div>
      <div class="content">
        <h1>À propos de nous</h1>   
      </div>
      <p>
        The Opportunity° brand offers an original offer by allowing each customer to order their meal with the nutritional criteria that suit them best. All Opportunity° sandwiches and salads are made to order, 
        right in front of you, to your specifications, and using ingredients you select from a wide variety of meats,
         vegetables, fresh breads, condiments and sauces as tasty as each other.
        <br/>
        <br/>
        The Opportunity° brand has always worked continuously to provide quality choices 
        and a range of menus that meet the full range of nutritional needs of our customers.
        <br/>
        <br/>
        For us, food balance is conceived over time: from a raclette to a salad, there is only one step. Because pleasure and gluttony cannot be crossed, 
        it has always seemed essential to us to feel free to make the choice that suits us the most.
      </p>
    </div>
      
     
  
  </div>
