<div class="container mt-5 mb-5">
    

    <div class="row">
        
        <div class="col-lg-4" *ngFor="let product of ProductData;index as i">
            <!--<div class="" *ngIf="i<=3">-->
                <div class="foodbox mt-3 mb-3">
                    <div class="foodbox mt-3 mb-3">
                        <img src="{{product.imgurl}}">
                        <h1>{{product.nom}}</h1>
                        <p>Couleur :   {{product.couleur}}</p>
                        <p>Marque  :   {{product.marque}}</p>
                        <p>Taille  :   {{product.taille}}</p>
                        <p>Prix    :   {{product.prix}}</p>
                        <a class="buybtn" [routerLink]="['/product',product.id_col]" class= "btn btn-info btn-block"> Add to Cart &nbsp;<i class="bi bi-bag"></i></a>
                        <br/>
                        <!--<a class="buybtn" [routerLink]="['/Catecory',product.id_col]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>-->
                    </div>
            <!--</div>-->
        </div>


    </div>

</div>
